name: Check Formatting of Rust Code
on: [push, pull_request]

jobs:
  check-formatting:
    name: cargo fmt --check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --check
